
.jumbotron {



height: 300px;
background-repeat: no-repeat;
background-size: cover;
border-bottom:1px solid #ec0a0a;
color: white; 
font-size: 100px;
font-weight: 900;
align-content: center;
  text-shadow: 0 0 20px rgb(10, 6, 6);


};

.button-list
{

  
}

body{
 

  image-rendering: auto;
  display: inline-block

}

h2
{

  font-size:60px;
  color: rgb(133, 3, 3);
}